.a{
   float: right;
    border-radius: 50px;
}
.kk{
    background-color: #d72727;
}
.m{
    padding: 0;
}
.pp{
    font-size: 2.3rem;
    padding-top: 15px;
    padding-bottom: 25px;
    padding-left: 25px;
}
.lkl{
    padding-right: 4rem;
    padding-left: 4rem;
}
.li{
    background-color: #8585ea;
}
.lklk{
    padding-right: 4rem;
    padding-left: 4rem;
}